.nature {
  height: 100vh;
  padding-top: 80px;
  display: flex;
  background: #6889a5;

  &__container {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  &__text-container {
    padding: 14px;
    width: 376px;
    margin-top: 64px;
  }
  &__subtitle {
    margin: 0 0 18px 0;
  }
  &__title {
    margin: 0 0 30px 0;
    font-size: 48px;
  }
  &__text {
    font-size: 16px;
    line-height: 20px;
  }
  &__img {
    width: 50%;
  }
}
