@import "best";
@import "nature";
@import "header";
@import "blocks";
@import "shop";
@import "sing";
@import "wool";
@import "footer";
@import "media";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fff;
}
* {
  box-sizing: border-box;
}

.calc {
  padding: 50px 0;
  background-color: aqua;
  &__result {
    color: #000;
  }
}
